---
layout: default
---

{% for post in paginator.posts %}
    <div id="test" style="display: none;">
        <div class="article-wrapper">
            <article>
                {% include article-header.html page=post link=true share=false eye_catch=false %}
            </article>
        </div>
        <hr class="with-no-margin"/>
    </div>

<!--<div class="article-wrapper">
    <article>
        {% include article-header.html page=post link=true share=false eye_catch=false %}
    </article>
</div>-->

<!--{% if forloop.last != true %}
<hr/>
{% endif %}-->
{% endfor %}

{% include paginator.html %}
